<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Voting App</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../public/styles.css" />
  </head>
  <body>
    <form method="POST" action="/submit">
      <div class="form">
        <% images.forEach(function(image) { %>
        <div class="image-item">
          <img src="<%= image.img.src %>" alt="<%= image.img.alt %>" />
          <input type="checkbox" name="id" value="<%= image.id %>" />
        </div>
        <% }) %>
      </div>

      <div class="btnDiv">
        <label for="userId">Voting ID:</label>
        <input class="uid" type="text" id="userId" name="userId" required />
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>

    <script src="" async defer></script>
  </body>
</html>
